<div class="user_form">
<h2>Edit <%= resource_name.to_s.humanize %> Account</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

    <fieldset>
      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div class="field">
        <%= f.label :new_password %>
        <%= f.password_field :password %>
        <span class="hint quiet">Leave blank if you do not wish to change your password</span>
      </div>

      <div class="field">
        <%= f.label :confirm_password %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="field">
        <%= f.label :current_password %>
        <%= f.password_field :current_password %>
        <span class="hint quiet">Enter your current password to confirm password change</span>
      </div>

    </fieldset>

    <fieldset class="buttons">
      <%= f.submit "Update" %>
    </fieldset>

<% end %>

    <fieldset class="field cancel">
      <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
    </fieldset>

</div>
