<div class="comment" id="comment_<%=comment.id%>">
  <div class="comment_head">
    <div class="metadata">
      <div>
        <span class="avatar"> <%= link_to image_tag(avatar_url(comment.user)), "/#{comment.user.username}" %></span>  
        <span class="author"> <%= link_to comment.user.username, "/#{comment.user.username}" %> </span>
        <span class="timestamp"> (<%= distance_of_time_in_words_to_now comment.created_at %> ago)</span>
      </div>
      <div class="comment_content_container" style="width:<%=@x%>px;">
        <div class="comment_content">
          <%= comment.content %>
        </div>
      </div>
      <div class="edit_links">
        <% if user_signed_in? and current_user.admin? %>
          <%= link_to image_tag("remove.png", :alt => 'Destroy Comment'), [comment.commentable, comment], :confirm => 'Are you sure?', :method => :delete, :remote => true %>
          <%= link_to image_tag("reply.png", :alt => 'Reply'), '#', :class=> "reply", :remote => true %>
        <% end %>
        <% if comment.comments.count != 0 %>
          <span><%= link_to pluralize(comment.comments.count, "reply"), '#', :class => "show", :remote => true %></span>
        <% end %>
      </div>
    </div>
    <div class="reply_form" style="display:none;">
      <%= render :partial => "comments/reply_form", :object => comment %>
    </div>
  </div>

  <div class="show_replies" style="display:none;">
    <% @x = @x-20 %>
    <%= render :partial => "comments/comment", :collection => comment.comments %>
  </div>
    <% @x = @x+20 %>
</div>

