<div class="comment" id="comment_<%=comment.id%>">
  <span class="timestamp"><%= distance_of_time_in_words_to_now comment.created_at %> ago</span>
  <span class="author"> <%= link_to comment.user.username, "/#{comment.user.username}" %> said:</span>
  <span class="avatar"> <%= link_to image_tag(avatar_url(comment.user)), "/#{comment.user.username}" %></span>  
  <div class="comment_content">
    <%= comment.content %>
  </div>
  <% if user_signed_in? and current_user.admin? %>
    <span class="edit_links">
      <%= link_to image_tag("remove.png", :alt => 'Destroy Comment'), [comment.commentable, comment],
                  :confirm => 'Are you sure?',
                  :method => :delete, :remote => true %>
      <%= link_to image_tag("reply.png", :alt => 'Reply'), comment.commentable, :class=> "reply" %>
    </span>
  <% end %>

  <div class="show_replies">
    <%= render :partial => "comments/comment",
      :collection => comment.comments %>
  </div>
</div>

