<%= form_for(@commentable, Comment.new) do |f| %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, :rows => '10' %>
  </div>
  <div class="field" style="display:hidden;">
    <%= f.label :commentable_id %>
    <%= f.text_area  %>
    <%= f.label :commentable_type %>
    <%= f.text_area "place" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

