<h1> User Profile Page </h1>
<div>
  This is the profile page of <%= @user.username %>
</div>
<div class="user_created">
  <%= @user.username %> has created <%= pluralize(@places.length, 'parks') %>
  <%= render :partial => '/places/summary', :collection => @places %>
</div>

<div class="user_visited">
  <%= @user.username %> has visited <%= pluralize(@places.length, 'parks') %>
  <%= render :partial => '/places/summary', :collection => @places %>
</div>
