<div id="the_header" class="bound">
  <div class="block">
    <h1> <%= link_to "Tripper.com", root_url %> </h1>
    <div id="navigation">  
      <ul class="primary">
        <% if user_signed_in? %>  
          <li class="nav_item"> <%= link_to "Map", "/map/index" %></li>
          <li class="nav_item"> <%= link_to "Sign out", destroy_user_session_path %></li>
          <li class="nav_item"> <%= link_to "Edit profile", edit_user_registration_path %> </li> 
        <% else %>  
          <li class="nav_item"> <%= link_to "Map", "/map/index" %></li>
          <li class="nav_item"> <%= link_to "Sign up", new_user_registration_path %> </li>
          <li class="nav_item"> <%= link_to "Sign in", new_user_session_path %> </li>
        <% end %>  
      </ul>
    </div> 
  </div>
</div>
 
