<div class="block">
  <h2>Sign in</h2>
</div>
<div class="auth_form">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <fieldset>
      <div class="field">
        <%= f.label :login %>
        <%= f.text_field :login %>
        <span class="hint quiet">Enter your user name or email address</span>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
    </fieldset>

    <fieldset class="buttons">
      <%= f.submit "Sign in" %>
    </fieldset>

  <% end %>
</div>

