<%= form_for(@place) do |f| %>
  <div id="place_errors"></div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => '55' %>
  </div>
  <div> <%= select_tag 'designation', options_for_select([["National Park"], ["Start Park"], ["County Park"], ["City Park"]]) %>  </div>

  <%= render :partial => "/home/icons" %>

  <div class="field" style="display:none;">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
