<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% @place.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :size => '55' %>
    </div>
    <div class="field"> <%= select_tag 'designation', options_for_select([[],["National Park"], ["State Park"], ["County Park"], ["City Park"]], :selected => @place.designation_list) %>  </div>
  </fieldset>

  <%= render :partial => "home/icons" %>

  <fieldset class="buttons actions">
    <%= f.submit  %>
  </fieldset>

<% end %>
