<% place = summary -%>
<div>
<p><%=link_to place.name, place %></p>

<div class="metadata">
  <span class="author">Created by <%= place.author %></span>
  <span class="timestamp"><%= distance_of_time_in_words_to_now place.created_at %> ago</span>
  <% if user_signed_in? and @user.admin? %>
    <span class="edit_links">
      <%= link_to image_tag("edit.png"), edit_place_path(place) %>
      <%= link_to image_tag("remove.png"),  place, :confirm => 'Are you sure?', :method => :delete %>
      <%= link_to 'Edit', edit_place_path(place) %>
      <%= button_to 'Destroy', place, :confirm => 'Are you sure?', :method => :delete %>
    </span>
  <% end %>
</div>

<div class="place_content">
  <%= place.description %>
</div>

<div class="tags">
  <p>Designation: <%= place.designation_list %> </p>
  <p>Facilities: <%= place.facility_list%> </p>
</div>

<p class="comment_link">
  <% if place.comments.length > 0 %>
    <%= link_to pluralize(place.comments.length, "comment"), place_url(place) + "#comments" %>
  <% else %>
    <%= link_to "no comments", place_url(place) + "#comments" %>
  <% end %>
</p>
</div>
