<%= javascript_include_tag 'map_index' %>
<div class="listing_places">
  <h1>
    List of Places
    <%= link_to 'New', new_place_path %>
    <% if @user and @user.admin? %>
      <span id="new_place_link">(<%= link_to 'New', new_place_path %>)</span>
    <% end %>
  </h1>

  <%= render :partial => 'summary', :collection => @places %>
</div>

<script type="text/javascript">
  var places = <%= @places.to_json.html_safe %>;
  var content = "<select id='designation' name='designation'>" +
                  "<option value='National Park'>National Park</option>" +
                  "<option value='State Park'>State Park</option>" +
                  "<option value='County Park'>County Park</option>" +
                  "<option value='City Park'>City Park</option>" 


</script>

<div id="map_container">
  <input id="address" type="textbox" value="Sunset State Beach in CA">
  <input type="button" value="Search" onclick="codeAddress()">
  <div id="map_canvas"> </div>
</div>

