<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Description:</b>
  <%= @place.description %>
</p>

<h3>Comments</h3>
<%= render :partial => "comments/comment",
           :collection => @place.comments %>

<h4>Add a comment:</h4>
<%= render "comments/form" %>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>

<div id="map_container">
  <%= render :partial => "map" %>
</div>

