<%= javascript_include_tag 'map_for_place' %>

<div class="place_form">
  <div class="place_metadata">
    <h2> 
      <%= @place.name %> 
      <% if user_signed_in? and (@place.user == current_user or current_user.admin?) %>
        <span class="edit_links">
          <%= link_to image_tag('edit.png'), edit_place_path(@place) %>
        </span>
      <% end %>
    </h2>

    <%= render :partial => "/home/icon_images" %>
    <%= link_to 'Back', root_url, :class=>"link" %> |
    <%= link_to 'All places', places_path, :class=>"link" %>
  </div>

  <span id="comments_count"><%= pluralize(@place.comments.count, "Comment") %></span>
  <div class="show_comments">
    <%= render :partial => "comments/comment",
      :collection => @place.comments.reverse %>
  </div>

  <div id="comment-notice"></div>
  <%= render :partial => "comments/place_form" %>

</div>

<div id="map_container">
  <%= render :partial => "map" %>
</div>

