<%= javascript_include_tag 'map_for_place' %>

<div class="show_place">
  <p id="notice"><%= notice %></p>

  <h2> 
    <%= @place.name %> 
    <% if user_signed_in? and (@place.user == current_user or current_user.admin?) %>
      <span class="edit_links">
        <%= link_to image_tag('edit.png'), edit_place_path(@place) %>
      </span>
    <% end %>
  </h2>

  <% @place.facility_list.each do |t| %>
    <span>
      <%= check_box_tag "facilities[]", t, false, :class => "check_box", :id => t %>
      <%= label_tag t, image_tag("/images/parkIcons/#{t}.gif", :class => "icon selected") %>
    </span>
  <% end %>

  <%= link_to 'Back', places_path, :class=>"link" %>
</div>

<div id="map_container">
  <%= render :partial => "map" %>
</div>

