<!DOCTYPE html>
<html>
<head>
  <title>Tripper</title>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js" %>
  <%= javascript_include_tag 'application' %>

  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'user' %>
  <%= stylesheet_link_tag 'place' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
