<!DOCTYPE html>
<html>
<head>
  <title>Tripper</title>
  <%= javascript_include_tag "jquery-1.4.4.min", "jquery.rails.js" %>
  <%= javascript_include_tag 'application' %>

  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="the_top">
    <%= render :partial => "/home/header" %>
  </div>
  <div id="the_middle">
    <div id="the_content" class="bound">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>

</body>
</html>
