<!DOCTYPE html>
<html>
<head>
  <title>Tripper</title>
  <%= javascript_include_tag "jquery-1.4.4.min", "jquery.rails.js" %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>

  <%= stylesheet_link_tag 'application' %>
  <link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="the_top">
    <%= render :partial => "/home/header" %>
  </div>
  <div id="the_middle">
    <div id="the_content" class="bound">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
  <div id="the_bottom">
    <%= render :partial => "/home/footer" %>
  </div>

</body>
</html>
